[Unit]
Description=1C:Enterprise Configuration Repository Server (%i)
After=network.target

[Service]
Type=simple
User=usr1cv8
Group=grp1cv8

# Path to directory with crs data
Environment=CRS1CV8_DATA=/home/usr1cv8/crserver/

# Number of the crs port
Environment=CRS1CV8_PORT=1542

ExecStart=/opt/1cv8/x86_64/8.3.25.1520/crserver \
                        -port ${CRS1CV8_PORT} \
                        -d ${CRS1CV8_DATA}

PrivateTmp=true
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target